@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.Main_Body_Container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    
}
.empty_cont{
    width:17%;
}
.Body_Part_Container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}
.Chat_Container{
    width:62%;
    margin-top: 64px;
    padding: 0px 20px;
    background-color: white;
    overflow-y: auto;
}    
.chat_inside_container{
    height: 100vh;
}

.message_container{
    margin-top: 64px;
    background-color: #F8FAFB;
    width: 37%;
    padding: 20px;
    position: -webkit-sticky;
    position: sticky;
    top:0px;
    
}
.chat_side_container{
    overflow-y: scroll;
    height: 1000px;
    padding: 5px;
}


/* width */

.chat_side_container::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .chat_side_container::-webkit-scrollbar-track {
    background: #F8FAFB; 
  }
   
  /* Handle */
  .chat_side_container::-webkit-scrollbar-thumb {
    background: #F8FAFB; 
  }
  
.empty_div_class{
    height: 1000px;
}
.message_header{
    display: flex;  
    width: 100%;
    padding:20px;
    position: -webkit-sticky;
    position: sticky;
    top:0px;
}

.message_title{
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    width: 65%;
}
.compose_container{
    display: flex;
    width: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}
#Button_Compose{
    background-color: #31AAB7;
    color: white;
    font-size: 12px;
}
.edit_img{
    padding: 5px;
}
.Compose_title{
    font-family: 'Roboto', sans-serif;  
}
.message_wrap{
    display: flex;
    background-color: white;
    justify-content: center;
    padding: 5px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px grey;
    width: 100%;
}
.message_wrap1{
    display: flex;
    justify-content: center;
    padding: 5px 0px;
    border-radius: 10px;
    width: 100%;
    transition: transform 0s;
}
.message_wrap1:hover{
    transform: scale(1.01);
    background-color: #FFFFFF;
    box-shadow: 0px 0px 2px grey;
    cursor: pointer;
}
.message_wrap3{
    display: flex;
    justify-content: center;
    padding: 5px 0px;
    border-radius: 10px;
    transition: transform 0s;
}
.message_wrap3:hover{
    transform: scale(1.01);
    background-color: #FFFFFF;
    box-shadow: 0px 0px 2px grey;
    cursor: pointer;
}
.maylee_chat{
    margin-top: 20px;
    display: grid;
}
.maylee_header{
    display: flex;
    width: 100%;
    align-items: center;
}
.Maylee_sideheader{
    width: 75%;
    font-weight: 600;
    color: #324552;
    font-family: 'Roboto', sans-serif;  
}
.maylee_time{
    width: 25%;
    font-size: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.Maylee_content{
    padding: 10px 0px ;
    width: 72%;
}
.hale_content{
    padding: 10px 0px ;
    width: 72%;
}
.Jody_content{
    padding: 10px 0px;
    width: 72%;
}
.spot_dot{
    width: 8%;
}

.maylee_img{
    text-align: center;
    padding: 12px 10px;
}
.hale_img{
    padding: 12px 11px;
    text-align: center;
}
.hale_image{
    width: 50px;
    height: 50px;
}
.Jody_img{
    padding: 12px 11px;
    text-align: center;
}
.mayle_image{
    width: 50px;
    height: 50px;
}

.maylee_subcontent{
    color: #324552;
    padding:5px 5px 5px 0px;
    font-family: 'Roboto', sans-serif;  
}
.blue_dot{
    width: 8px;
    height: 8px;
    background-color: #0078CE;
    float: left;
    border-radius: 8px;
    margin-right: 10px;
    margin-top: 10px;
}
.Chat_Board{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    
}
.Welcome_title{
    width: 70%;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;   
}
.Chat_Icons{
    width: 30%;
    display: flex;
    justify-content: space-around;
}
.add_icon{
    font-size: 30px;
}
#Add_img{
    color: grey;
}
.group_image{
    width: 22px;
}

.three_dots{
    color: grey;
    font-size: 30px;
    margin: -15px 0px;
}
.Maylee_chat1{
    width: 50%;
    padding: 10px;
}
.maylee_head{
    display: flex;
    width: 100%;
    align-items: center;
}
.Mayle_image1{
    width: 75%;
    display: flex;
    align-items: center;
}
.mayle_image1{
    height: 50px;
    width: 50px;
    padding: 5px;
}
.mayle_img1{
    padding: 8px;
    text-align: center;
}
.mayle_timer{
    width: 25%;
    font-family: 'Roboto', sans-serif; 
}
.mayle_name{
    font-size: 14px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;   
}
.mayle_matter1{
    padding: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: #0078CE;
    border-radius: 8px;
    color: white;
    margin: 0px 10px;
}
.Jody_chat{
    width: 50%;
    float: right;
    padding: 10px;
}
.jody_matter1{
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #F8FAFB;
    border-radius: 8px;
    margin:0px 10px;
}
.Alex_chat{
    width:52%;
    padding: 10px;
    float: left;
}
.Alex_matter1{
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #0078CE;
    color: white;
    border-radius: 8px;
    margin:0px 10px 10px 10px;
}
.Maylee_chat2{
    width: 51%;
    float: right;
    padding: 10px;
}
.mayle_matter2{
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #F8FAFB;
    border-radius: 8px;
    margin: 0px 10px;
}
.Maylee_chat3{
    width: 54%;
    padding: 10px;
}
.Bottom_input{
    background-color: white;
    width: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
}
.input_field{
    width: 42%;
    display: flex;
    align-items: center;
}
.input1{
    width: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    height: 4vw;
    font-family: 'Roboto', sans-serif;
}
.add_icon{
    padding: 20px;
    font-size: large;
}

.hale_image1{
    height: 50px;
    width: 50px;
    padding: 5px;
}
.jody_image{
    height: 50px;
    width: 50px;
    padding: 5px;
}
.Mobile_nav{
    display: none;
}
.Mob_Mail{
    display: none;
}


/*popover Styles*/
.main_pop{
    width: 500px;
    height: 300px;
    justify-content: center;
    background-color: #F8FAFB;
    
}

.pop1{
    margin-top: 25px;
    height: 35px;
}
.pop2{
    height: 35px;
    margin-top: 5px;
}
.pop3{
    margin-top: 5px;
    padding: 10px 0px 120px 0px;
}
.pop1,.pop2,.pop3{
    width: 450px;
    margin-left: 25px;
    background-color: white;
    border: none;
    box-shadow: 0px 0px 1px grey;
    border-radius: 5px;
    outline: none;
}
#pop_Button{
    background-color: #31AAB7;
    color: white;
    padding: 6px 20px;
    margin: 20px 28px ;
    float: right;
}
#pop_mail{
    margin-right: 10px;
}

#compose_pop{
    background-color: #31AAB7;
    color: white;
}
.mayle_matter5{
    height: 140px;
}

/*media Queries for large laptops*/
@media only screen and (min-width:1201px) {
    .Chat_Container {
        width:auto;
        position: absolute;
        left: 640px;
        height: 100vh;
        
    }
    .empty_cont{
        max-width: 14%;
    }
    .Main_Body_Container{
        position: fixed;
    }
    .Body_Part_Container{
        min-width: 86%;
    }
    .message_container{
        max-width: 400px;
        position: fixed;
        left: 242px;
    }
    .Bottom_input{
        position: -webkit-sticky; /* Safari */
        position: fixed;
        bottom: 0;
    }
    .input_field{
        width: 32%;
    }
}




/* media queries for laptop*/

@media only screen and (max-width: 1200px){

    .Main_Body_Container{
        position: fixed;
    }
    .message_title {
        font-size: 26px;
    }
    .message_container{
        max-width: 400px;
        width: auto;
        position: fixed;
        left: 240px;

    }
    .Chat_Container{
        width: auto;
        position: absolute;
        left: 640px;
        height: 100vh;
    }
    .message_header{
        padding: 20px;
    }
    .message_title {
        font-size: 28px;
        font-family: 'Roboto', sans-serif;
        width: 65%;
    }
    .compose_container{
        width:35%;
    }
    .maylee_time{
        font-size: 10px;
    }
    .message_wrap{
        width: 100%;
    }
    .maylee_img{
        padding: 10px 12px;
    }
    .Maylee_content{
        width: 72%;
    }
    .mayle_image {
        width: 50px;
        height: 50px;
    }
    .hale_image {
        width: 50px;
        height: 50px;
    }
    .hale_content {
        width: 72%;
    }
    .Jody_img {
        padding: 12px 11px;
    }
    .message_wrap1{
        width: 100%;
    }
    .mayle_name{
        font-size: 13px;
    }
    .mayle_timer{
        font-size: 11px;
    }
    .hale_img {
        padding: 12px 11px;
    }
    .maylee_subcontent{
        font-size: 13px;
    }
    .Welcome_title {
        width: 60%;
        font-size: 20px;
    }
    .Chat_Icons {
        width: 30%;
    }
    .Maylee_chat3 {
        width: 55%;
    }
    .mayle_img1{
        padding: 0px;
    }
    .Maylee_chat1 {
        width: 80%;
    }
    .Jody_chat {
        width: 80%;
    }
    .Alex_chat {
        width: 80%;
    }
    .Maylee_chat2 {
        width: 80%;
    }
    .Maylee_chat3 {
        width: 80%;
    }
    .Chat_Board {
        width: 100%;
    }
    
    .Chat_Icons{
        width: 40%;
    }
    .group_image {
        width: 20px;
        height: 20px;
    }
    .input_field{
        width: 32%;
    }
}


/*Media Queries for Tablet*/
 
@media only screen and (max-width:992px){
    .Main_Body_Container{
        position: fixed;
    }
    
    .empty_cont{
        display: none;
    }
    .message_container{
        max-width: 350px;
        left:0;
    }
    .Chat_Container{
        width: auto;
        position: absolute;
        left: 350px;
        height: 100vh;
    }
    .mayle_image {
        width: 80%;
    }
    .Maylee_content {
        width: 80%;
        padding: 12px 0px;
    }
    .hale_content {
        width: 80%;
        padding: 12px 0px;
    }
    .Jody_content {
        width: 80%;
        padding: 12px 0px;
    }
    .maylee_subcontent {
        font-size: 12px;
    }
    .Maylee_sideheader {
        font-size: 12px;
    }
    .maylee_time {
        font-size: 8px;
    }
    .message_title {
        font-size: 28px;
        width: 70%;
    }
    .Welcome_title{
        font-size: 24px;
        width:65%;
    }
    .Chat_Icons{
        width: 35%;
    }
    .mayle_timer{
        font-size: 10px
    }
    .mayle_img1 {
        padding: 0px;
    }
    .Maylee_chat3 {
        width: 60%;
        padding: 5px;
    }
    .Maylee_chat1{
        padding: 5px;
        width: 60%;
    }
    .Jody_chat{
        padding: 5px;
        width: 60%;
    }
    .Alex_chat{
        padding:5px;
        width: 60%;
    }
    .Maylee_chat2{
        padding: 5px;
        width: 60%;
    }
    .mayle_matter1{
        font-size: 12px;
    }
    .jody_matter1{
        font-size: 12px;
    }
    .Alex_matter1{
        font-size: 12px;
    }
    .mayle_matter2{
        font-size: 12px;
    }
    .input1{
        font-size: 15px;
    }
    .hale_image{
        width: 50px;
        height: 50px;
    }
    .mayle_image{
        width: 55px;
        height: 55px;
        padding: 2px;
    }
    .maylee_img{
        padding: 10px 8px;
    }
    .group_image {
        width: 20px;
        height: 20px;
    }
    .input_field{
        width: 32%;
    }
}



/*Media Queiries for Mobiles */

@media only screen and (max-width:768px){
    .Main_Body_Container{
        position: absolute;
    }
    
    .empty_div_class{
        height: 0;
    }
    .message_header{
        display: none;
    }
    .empty_cont {
        display: none;
    }
    .Body_Part_Container{
        display: grid;
        justify-content: normal;
    }
    .chat_side_container{
        height: auto;
        
    }
    .message_container {
        max-width:-webkit-fill-available;
        width:-webkit-fill-available;
        margin: 0%;
        position: absolute;
        top:140px;
    }
    .Chat_Container {
        width: 100%;
        height: auto;
        margin-top: 697px ;
        overflow-y: hidden;
       left: 0;
    }
    .Bottom_input {
        width: 100%;
        justify-content: space-between;
        position: relative;
    }
    .input_field {
        width: inherit;
        height: 4vh;
        padding: 20px;
    }
    .Maylee_sideheader {
        font-size: 15px;
    }
    .maylee_time {
        font-size: 10px;
    }
    .maylee_subcontent{
        font-size:14px;
    }
    .message_wrap3{
        width: 100%;
    }
    .Maylee_chat1 {
        width: 60%;
    }
    .Jody_chat {
        width: 60%;
    }
    .Alex_chat {
        width: 60%;
    }
    .Maylee_chat2 {
        width: 60%;
    }
    .Maylee_chat3 {
        width: 60%;
    }
    .Maylee_content,.Jody_content {
        padding: 15px 0px;
    }


    
    .Mobile_nav{
        display: flex;
        margin-top: 64px;
        align-items: center;
        width: 100%;
        padding: 5px;
    }
    .Mob_menu{
        display: flex;
        align-items: center;
        width: 60%;
        justify-content: flex-start;
    }
    .Mob_Icons{
        display: flex;
        width: 40%;
        justify-content: space-around;
    }
    #ios_mob{
        margin-top: 4px;
        margin-bottom: 3px;
    }
    .Mob_HD{
        width: 60px;
        padding: 10px;
    }
    .Mob_Mail{
        background-color: #31AAB7 ;
        width: 60px;
        height: 60px;
        border-radius: 50px;
        text-align: center;
        color: white;
        float: right;
        margin-top: 140px;
        border:none;
    }
    .Mob_Mail{
        display: block;
        margin-top: 80px;
    }
    #mob_mail{
        margin-top: 12px;
    }
    .Bottom_input{
        width:100%;
        
    }
    .mayle_matter5{
        display: none;
    }
}


 
/* For small mobile phones from 425px to 576px*/

@media only screen and (max-width:576px){
    .Main_Body_Container{
        position: relative;
    }
    .empty_div_class{
        height: 0;
    }
    .Main_Body_Container{
        position:absolute;
    }
    .Body_Part_Container{
        justify-content: initial;
    }
    .chat_side_container{
        overflow-y: hidden;
        height: auto;
        
    }
    .Chat_Container{
        display: block;
        overflow-y: hidden;
        height: auto;
        left: 0;
        margin: 750px 0px 0px 0px;
        width: auto;
        
    }
    .empty_div_class{
        display: none;
    }
    .message_header{
        display: none;
    }
    .Mobile_nav{
        display: flex;
        margin-top: 64px;
        align-items: center;
        width: 100%;
        padding: 5px;
    }
    .Mob_menu{
        display: flex;
        align-items: center;
        width: 60%;
        justify-content: flex-start;
    }
    .Mob_Icons{
        display: flex;
        width: 40%;
        justify-content: space-around;
    }
    #ios_mob{
        margin-top: 4px;
        margin-bottom: 3px;
    }
    .Mob_HD{
        width: 60px;
        padding: 10px;
    }
    .message_container {
        margin: 0px;
        
    }
    .Mob_Mail{
        background-color: #31AAB7 ;
        width: 60px;
        border-radius: 50px;
        text-align: center;
        color: white;
        float: right;
        margin-top: 80px;
    }


    .Maylee_chat1{
        width: 100%;
        margin-top: 20px;
    }
    .Maylee_chat3{
        width: 100%;
    }
    .Jody_chat{
        width: 80%;
    }
    .Alex_chat{
        width: 100%;
    }
    .Maylee_chat2{
        width: 80%;
    }
    .Welcome_title {
        font-size: 18px;
        width: 60%;
    }
    .Chat_Icons{
        width: 40%;
    }
    .group_image {
        width: 22px;
        height: 22px;
    }
    .input1{
        height: 50px;
    }
    .add_icon{
        margin-top: 35px;
        padding: 0;
    }
    .Bottom_input{
        width:100%;

    }
    .mayle_matter1{
        font-size: 14px;
    }
    .mayle_name{
        font-size: 14px;
    }
    .mayle_img1{
        text-align: center;
    }
    .mayle_matter5{
        display: none;
    }
}